<h1>게시판</h1>
<p>글을 수정해주세요</p>
<form action="/posts/<%=@post.id%>" method="post">
    <!-- <input type="hidden" name="id" value="<%# @post.id %>"> -->
    <input type="text" name="title" value="<%=@post.title%>" />
    <br /> 
    내용 :
    <textarea name="content"><%=@post.content%></textarea><br />
    <input type="submit" value="게시글 수정하기 " />
</form>